<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | overview</title>
</head>

<body>
    <center>
        <a href="index.html">Home</a>
        <a href="contact.html">Contact</a>
        <a href="about.html">About</a>
        <a href="shop.html">Shop</a>
        <a href="service.html">Services</a>
    </center>
    <h1>Home</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos quas autem quaerat dolore pariatur?
        Necessitatibus perspiciatis culpa at earum quas aperiam exercitationem eos, voluptate, deleniti consequuntur
        nesciunt excepturi ipsa voluptatem.</p>

    <h1>Gallery</h1>
    <center>
        <img src="image/im.avif" alt="" width="300" height="400">
        <img src="image/im.avif" alt="" width="300" height="400">
        <img src="image/im.avif" alt="" width="300" height="400">
        <img src="image/im.avif" alt="" width="300" height="400">
        <img src="image/im.avif" alt="" width="300" height="400">
        <img src="image/im.avif" alt="" width="300" height="400">
        <img src="image/im.avif" alt="" width="300" height="400">
        <img src="image/im.avif" alt="" width="300" height="400">
        <img src="image/im.avif" alt="" width="300" height="400">
        <img src="image/im.avif" alt="" width="300" height="400" title="parret">
    </center>

    <!-- 
    q , blockquate, address , abbr ,bdo
    
    -->

    <center>
        <p><q>Lorem, ipsum dolor sit </q>amet consectetur adipisicing elit. Nemo, corrupti impedit! Explicabo magni ut
            est maxime veniam eaque quidem porro ipsum architecto ducimus impedit voluptates molestiae, labore,
            dignissimos cum in?</p>
    </center>

    <blockquote>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur accusantium nostrum nobis reprehenderit
        aliquam molestias delectus blanditiis esse laudantium totam amet sed, fugiat suscipit vitae iure praesentium
        doloremque pariatur rerum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste incidunt optio praesentium magnam placeat quia
        cum, dignissimos totam ullam modi neque nesciunt commodi deserunt! Deleniti dignissimos debitis officia sed nam.
    </blockquote>

    <address title="My Address">
        123, raja street ,Karur.
    </address>

    <abbr title="World wide web">WWW</abbr>

    <bdo dir="ltr">Yuvaraj</bdo>
    <bdo dir="rtl">Yuvaraj</bdo>

    <!-- 
    bidirectional overide

    dir => direction

    ltr => left to right
    rtl => right to left


    summary
    =========

    img ,video ,audio, iframe , a tag , favicon,  q , blockquate, address , abbr ,bdo
    -->
</body>

</html>