@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

body {
    /* background: linear-gradient(45deg, blue, violet); */

    background: url(../images/bgimg.jpg) no-repeat center / cover;
}
h1{
    text-align: center;
}

.registeration-form {
    /* border: 2px solid; */
    width: 500px;
    /* height: 400px; */
    margin: 10rem auto;

    box-shadow: -2px 2px 15px 1px;

    border-radius: 50px;
    padding: 2rem;
    
}

.input-forms {
    /* border: 2px solid red; */
    padding: 10px;
    color: white;
}

.input-forms input,
button {
    width: 100%;
    margin: 5px 0;
    height: 35px;
    border-radius: 50px;
    padding: 5px 10px;
    border: none;
    font-weight: 600;
}

.input-forms a{
    text-decoration: none;
    color: blueviolet;
}