


.box{
    border: 2px solid;
    /* width: 400px;
    height: 400px; */

    /* margin-top: 20px;
     margin-right: 30px; */
    /* margin-bottom: 40px; */
    /* margin-left: 50px; */
    /* margin-bottom: 50px; */

    /* ctrl + /  */

    /* margin: 20px 30px 40px 50px; */

    /* margin: 20px 30px 40px; */
    /* margin: 20px 30px; */
    /* margin: 40px; */

    /* border inside space padding */

    /* padding-top:30px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 40px; */

    /* padding: 10px 20px 30px 40px; */
    /* padding: 20px 30px 40px; */
    /* padding: 30px 40px; */
    /* padding: 30px; */


}