*{
    margin: 0;
    padding: 0;
}
/* #bg-violet{
    background-color: violet;
} */

/* element selector */

/* h1{
    background-color: darkcyan;
} */

/* class selector */



/* .bg-green{
    background-color: green;
}



.bg-red{
    background-color: red;
}

.bg-blue{
    background-color: blue;
} */

/* group selector */
h2,p,h4{
    color: green;
}

