*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    border: 2px solid;
    width: 300px;
    height: 200px;
    /* shorthand */
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */
    /* overflow-x: visible; */
    /* overflow-x: hidden; */
    /* overflow-x: scroll; */
    /* overflow-x: auto; */

    /* overflow-y: hidden; */
}