* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 300px;
    /* border: 2px solid; */
    /* margin: 50px; */
    /* border-style: dashed; */
    /* border-width: 30px;
    border-color: rebeccapurple; */
    /* border-style: dotted; */
    /* border-style: double; */
    /* border-style:groove; */
    /* border-style:inset; */
    /* border-style: outset; */
    /* border-style:none; */
    /* border-style:ridge; */
    /* border-style:solid; */

    /* shorthand */

    /* border-top: 10px dotted darkblue;

    border-right: 20px double darkgreen;

    border-bottom: 20px solid deeppink;
    border-left: 20px ridge darkgoldenrod; */

    /* border-left: 20px solid darkblue;
     border-right: 20px solid darkblue; */
    /* padding: 10px; */
    /* background: rgba(41, 41, 41, 0.268); */
    /* background: conic-gradient(red, green, yellow); */

    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */

    /* border-radius: 20px 30px 20px 30px; */
    /* border-radius: 20px 50px 10px; */
    /* border-radius: 30px 50px; */
    /* border-radius: 50px; */
    /* border-radius: 80rem / 50rem; */
    /* border-radius: 50% 0; */
    /* border: 5px solid; */
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
    /* border-radius: 50%; */
    /* clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%); */
    /* border-radius: 21% 79% 58% 42% / 52% 50% 50% 48%; */
    /* text-align: justify; */


}

.box img {
    /* width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit; */
}

.card{
    border: 2px solid red;
    width: 300px;
    height: 300px;
    margin: 10rem auto;

    /* outline-style:groove;
    outline-width: 20px;
    outline-color: seagreen; */

    outline: 20px groove seagreen;
    outline-offset: 20px;
}