*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    height: 100vh;
    border: 2px solid red;

    background: linear-gradient(blue,yellow);
}

.card{
    /* border: 2px solid; */
    width: 400px;
    height: 400px;
    margin: 10rem auto;
    position: relative;
    background: sandybrown;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px ;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.card .inside-card{
    /* border: 2px solid blue; */
    height: 400px;
    width: 400px;
    
    background: rgba(255, 255, 255, 0.525);
    backdrop-filter: blur(2px);
    transition: 1s;
}

.card .ic1{
    position: absolute;
    bottom:400px ;
}

.card .ic2{
     position: absolute;
    bottom:-400px ;
}
.card:hover .ic2{
    bottom:-200px ;
}


.card:hover .ic1{
    bottom: 200px;
    
}