* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    border: 2px solid;
    width: 300px;
    height: 300px;
}

.box1 {
    margin: 30px;
    padding: 30px;
    
}

.box2 {
    margin: 30px;
    padding: 30px;

}